DP-700 Juli 2026 Workspace/Get zip file from SSI.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "formatSettings": {
              "type": "BinaryReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation"
                }
              },
              "externalReferences": {
                "connection": "d6eb7fd7-b5c2-4998-8be6-d01e866a9972"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "ssi",
                  "fileName": {
                    "value": "@variables('zipfilename')",
                    "type": "Expression"
                  }
                }
              },
              "linkedService": {
                "name": "MandagLakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "cc799b82-40e1-4494-9e90-941d4f52e430",
                    "workspaceId": "0b6a0599-c257-4d45-b1a0-752287cd3941",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get zip file from ssi",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "zipfilename",
          "value": "datassi.zip"
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@variables('aarstalsliste')",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "BinarySource",
                  "formatSettings": {
                    "type": "BinaryReadSettings",
                    "compressionProperties": {
                      "type": "ZipDeflateReadSettings"
                    }
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "ssi",
                        "fileName": {
                          "value": "@variables('zipfilename')",
                          "type": "Expression"
                        }
                      },
                      "compression": {
                        "type": "ZipDeflate"
                      }
                    },
                    "linkedService": {
                      "name": "MandagLakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "4f52e430-941d-9e90-4494-40e1cc799b82",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "BinarySink",
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat('ssi/',variables('foldername'),'/',item())",
                          "type": "Expression"
                        }
                      }
                    },
                    "linkedService": {
                      "name": "MandagLakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "4f52e430-941d-9e90-4494-40e1cc799b82",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Unzip file from ssi",
              "dependsOn": []
            }
          ]
        },
        "name": "loop over aarstalsliste",
        "dependsOn": [
          {
            "activity": "Get zip file from ssi",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "zipfilename": {
        "type": "String"
      },
      "foldername": {
        "type": "String",
        "defaultValue": "torsdagdata"
      },
      "aarstalsliste": {
        "type": "Array",
        "defaultValue": [
          "2020",
          "2021",
          "2022"
        ]
      }
    }
  }
}